name: Test

on:
  workflow_run:
    workflows: ["Build Tree-sitter Bundle"]
    types:
      - completed
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-2022
          - os: ubuntu-24.04
          - os: ubuntu-24.04-arm
          - os: macos-15-intel
          - os: macos-15

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '9.0.x'

      - name: Test the project
        continue-on-error: true
        run: |
          dotnet test

      - name: Test the project
        if: runner.os != 'Windows'
        continue-on-error: true
        run: |
          ls ./TreeSitter.Test/bin/Debug/net9.0/
          ls ./TreeSitter.Test/bin/Release/net9.0/
